<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Favicon -->
    <link rel="icon"
          type="image/png"
          href="../static/favicon.ico"
          th:href="@{../favicon.ico}">

    <!-- Data Tables, jQuery -->
    <link rel="stylesheet"
          type="text/css"
          href="../static/datatables.css"
          th:href="@{../datatables.css}" />
    <script type="text/javascript"
            src="../static/jQuery-3.3.1/jquery-3.3.1.js"
            th:src="@{../jQuery-3.3.1/jquery-3.3.1.js}"></script>
    <script type="text/javascript"
            src="../static/datatables.js"
            th:src="@{../datatables.js}"></script>

    <title>DataTable Settings Preserver</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }

        h1,
        h2,
        h3 {
            text-align: center;
        }

    </style>
</head>

<body>
    <h1>Welcome to The DataTable Settings Preserver</h1>
</body>

</html>
