<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Favicon -->
    <link rel="icon"
          type="image/png"
          href="../static/favicon.ico"
          th:href="@{../favicon.ico}">

    <link rel="stylesheet"
          type="text/css"
          href="../static/css/datatables.css"
          th:href="@{../css/datatables.css}" />
    <link rel="stylesheet"
          type="text/css"
          href="../static/css/jquery.dataTables.css"
          th:href="@{../css/jquery.dataTables.css}" />
    <link rel="stylesheet"
          type="text/css"
          href="../static/css/colReorder.dataTables.css"
          th:href="@{../css/colReorder.dataTables.css}" />
    <link rel="stylesheet"
          type="text/css"
          href="../static/css/buttons.dataTables.css"
          th:href="@{../css/buttons.dataTables.css}" />
    <link rel="stylesheet"
          type="text/css"
          href="../static/css/searchPanes.dataTables.css"
          th:href="@{../css/searchPanes.dataTables.css}" />

    <script type="text/javascript"
            src="../static/js/jquery-3.5.1.js"
            th:src="@{../js/jquery-3.5.1.js}"></script>
    <script type="text/javascript"
            src="../static/js/jquery.dataTables.js"
            th:src="@{../js/jquery.dataTables.js}"></script>
    <script type="text/javascript"
            src="../static/js/dataTables.buttons.js"
            th:src="@{../js/dataTables.buttons.js}"></script>
    <script type="text/javascript"
            src="../static/js/vfs_fonts.js"
            th:src="@{../js/vfs_fonts.js}"></script>
    <script type="text/javascript"
            src="../static/js/buttons.html5.js"
            th:src="@{../js/buttons.html5.js}"></script>
    <script type="text/javascript"
            src="../static/js/buttons.colVis.js"
            th:src="@{../js/buttons.colVis.js}"></script>
    <script type="text/javascript"
            src="../static/js/dataTables.colReorder.js"
            th:src="@{../js/dataTables.colReorder.js}"></script>
    <script type="text/javascript"
            src="../static/js/searchPanes.dataTables.js"
            th:src="@{../js/searchPanes.dataTables.js}"></script>

    <title>DataTable Settings Preserver</title>
    <style>
        /*
        * {
            box-sizing: border-box;
        }
        */
        body {
            font-family: Arial, Helvetica, sans-serif
        }

        h1,
        h2,
        h3 {
            text-align: center;
        }

        /* myDataTable styling */
        #myDataTable thead {
            border-bottom: 1px solid #111;
            margin-top: .5rem;
            margin-bottom: .5rem;
        }

    </style>
</head>

<body>
    <h1>Welcome to The DataTable Settings Preserver</h1>

    <table id="myDataTable"
           class="display"
           style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">E-mail</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Personal Number</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">E-mail</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Personal Number</th>
            </tr>
        </tfoot>
    </table>
</body>

<script>
    $(document).ready(function () {
        const table = $('#myDataTable').DataTable({
            "processing": true,
            "ajax": {
                url: "../api/users",
                dataSrc: function (json) {
                    for (var i = 0, ien = json.data.length; i < ien; i++) {
                        json.data[i][0] = '<a href="/message/' + json.data[i][0] + '>View message</a>';
                    }
                    return json.data;
                },
                dataFilter: function (data) {
                    let json = {};
                    json.data = jQuery.parseJSON(data);
                    json.draw = 1;
                    json.recordsTotal = json.data.length;
                    json.recordsFiltered = json.data.length;
                    result = JSON.stringify(json); // return JSON string
                    return result;
                }
            },
            columns: [
                { "data": "id" },
                { "data": "name" },
                { "data": "surname" },
                { "data": "email" },
                { "data": "dateOfBirth" },
                { "data": "personalNumber" }
            ],
            colReorder: {
                enable: true
            },
            dom: 'Bfrtip',
            buttons: [
                'colvis',
            ]
        });

        table.buttons().container()
            .insertBefore('#myDataTable_filter');
    });
</script>

</html>
